*Custom Container Class */
.gwt-container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media(min-width: 768px) {
    .gwt-container {
        width: 750px;
    }
}

@media(min-width: 992px) {
    .gwt-container {
        width: 970px;
    }
}

@media(min-width: 1200px) {
    .gwt-container {
        width: 1170px;
    }
}

@media(min-width: 1600px) {
    .gwt-container {
        width: 1440px;
    }
}
